/* *{ */
    /* background-color: #deb887; */
    /* color: white; */






.head-one{
    background-color: red;
    color: white;

    text-align: center;
    
}

 <h1>PH Scale</h1>
    

    <div class="bg-blue">
        14.0 very ALKALINE
    </div>

    <div class="div-one">
        13.0
    </div>

    <div class="div-two">
        12.0
    </div>

    <div class="div-three">
        11.0
    </div>

    <div class="div-four">
        10.0
    </div>

    <div class="div-five">
        9.0
    </div>

    <div class="div-six">
        8.0
    </div>

    <div class="div-green">
        7.0 NEUTRAL
    </div>

    <div class="div-eight">
        6.0
    </div>

    <div class="div-nine">
        5.0
    </div>

    <div class="div-ten">
        4.0
    </div>

    <div class="div-eleven">
        3.0
    </div>

    <div class="div-twelve">
        2.0
    </div>

    <div class="div-thirteen">
        1.0
    </div>

    <div class="div-fourteen">
        0.0 VERY ACID
    </div>
    


</body>
</html>




















